* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

h1 {
    margin: 0 10px;
}

h2 {
    vertical-align: middle;
    margin-left: 5px;
    padding-left: 5px;
    
}
.main {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-left: 50px;
}
.nav {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 20%;
    padding-left: 20%;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

.top {
    background-color: rgb(79, 95, 168);
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    height: 25%;
    width: auto;
    padding: 3px;
}

.info {
    font-family: monospace;
    flex: 3;
    flex-direction: row;
    padding-left: 10px;
}

.location {
    flex-direction: row;
    margin-left: 10px;
    
}
.nav button {
    vertical-align: middle;
    background-color: rgb(53, 117, 235);
    color: white;
    width: 75px;
    height: 30px;
    margin-right: 32.5%;
    align-self: center;
    float: left;
}

.nav-title {
    vertical-align: center;
    text-align: center;
    padding-left: 75px;
}
.nav-links {
    
    list-style-type: none;
    display: flex;
    margin: 10px;
    flex:1 1 200px;
    
}


ul {
    margin-left: 20%;
    margin-right: 20%;
}
.nav-links ul {
    vertical-align: middle;
    text-align: center;
}

.nav-links a {
    color:whitesmoke;
    margin: 10px;
    text-decoration: none;
    vertical-align: middle;
}

.personal {
    display: flex;
    flex-direction: column;
    
    margin-right: 10px;
    
}
.personal-details {
    font-family: monospace;
    font-size: large;
    font-style: oblique;
    padding: 10px;

}

.personal-details p {
    margin: 0 10px;
    margin-left: 10px;
    font-weight: 600;
}


.edit {
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
}
.edit img {
    vertical-align: middle;
    height: 15px;
    width: 15px;
}

.edit a {
    vertical-align: middle;
}

.education {
    border: 1px solid black;
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    vertical-align: top;
    text-align: center;
}

.educationHead {
    padding: 10px;
    font-size: 12pt;
    background-color: rgb(0, 0, 0);
    color: white;
}

.education span {
    background-color: black;
    color: white;
    width: 400px;
    height: 30px;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
}

.educationInstituions {
    border: 2px solid rgb(79, 95, 168);
    
}

hr {
    width: 80%;
    border: 0;
    clear:both;
    display:flex;
    
    align-self: center;               
    background-color:#000000;
    height: 1px;
    margin-left: 10%;
    margin-right: 10%;
}
.educationInstituions h4 {
    
    font-family: monospace;
}

h4, .dates, .description {
    padding: 2px 0 0 5px;
}
.dates {
    color: darkslategray;
    font-size: 12pt;
}

.description {
    padding: 10px;
}
.usercard {
    border: 1px solid black;
    height: 300px;
    width: 600px;
    margin: 0 auto;
    
    
}

.requestHead {
    background-color: black;
}
.sideContent {
   
    
    width: 350px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    justify-content: space-between;
    align-content: vertical; 
    display: flex;
    justify-self: center;
    flex-direction: column;
    
    padding-left: 50px;
}

.requestConnection {
    border: 2px solid black;
    
    width: 300px;
    margin: 20px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    left: 10px;
    vertical-align: middle;
}

.requestConnection p, .connections p {
    font-size: 14pt;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.connectionsReq {
    border-top: 0;
    padding: 10px;
}
.userImg {
    height: 70px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}
.acceptReject {
    height: 45px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 5px;

}
br {
    line-height: 10px;
}
.acceptButton, .rejectButton {
    background-color: transparent;
    
}
.connections {
    border: 2px solid black;
    
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    
    margin-left: 10px;
}

.connections hr {
    width: 100%;
    border: 0;
    margin-left: 0;
    clear:both;
    display:flex;              
    background-color:#000000;
    height: 1px;
}
.connections span {
    flex-direction: row;
    background-color: black;
    flex: 1;
}

.conHead {
    padding: 10px;
    font-size: 12pt;
    background-color: rgb(0, 0, 0);
    color: white;
    
}


.conHead span {
    height: 5px;
    border-radius: 50%;
    background-color: rgb(168, 161, 161);
    color: black;
    padding: 5px;
    font: 14pt;
}
.reqConHead{
    padding: 10px;
    font-size: 12pt;
    background-color: rgb(0, 0, 0);
    color: white;
    
}
.reqConHead h3 {
    align-content: center;
}
.highlighted {
    height: 5px;
    
    border-radius: 50%;
    background-color: rgb(168, 161, 161);
    color:rgb(0, 0, 0);
    padding: 5px;
    font: 14pt;
    margin-left: 5px;
    margin-right: 5px;
}

.highlighted2 {
    height: 5px;
    border-radius: 50%;
    background-color: rgb(168, 161, 161);
    color: black;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font: 14pt;
}
.connections {
    border: 2px solid black;
    flex: 2;
    margin: 5px;
}

#user {
    align-self: flex-start;
    margin-top: -50px;
    margin-left: 15px;
    height: 100px;
    width: 100px;
}
#marker {
    width: 15px;
    height: 24px;
    float: left;
    margin-right: 10px;
}

#pendingConnections {
    width: 25px;
    height: 25px;
    background-color: white;
    
    border-radius: 50%;
    margin: 3px;
}

#viewMore {
    margin: 5px;
    padding: 5px;
}